<h1>Post Details</h1>

<h1>Creator: {{post.creatorId.0.username}}</h1>
<img src="{{post.picPath}}" alt="Image" />
<p>{{post.content}}</p>
<br /><br />

<h2>Comments</h2>
{{#each postComments}}
  {{#if imagePath}}
    <img src="{{imagePath}}" alt="Image" />
  {{/if}}
  <span>Author: {{authorId.0.username}}</span>
  <p>Comment: {{content}}</p>
  <br /><br />
{{/each}}

<form
  action="/create-comment/{{post._id}}"
  method="POST"
  enctype="multipart/form-data"
>

  <label>Comment:
    <textarea name="content" cols="40" rows="4"></textarea>
  </label>

  <label>Image:
    <input type="file" name="filename" />
  </label>

  <button type="submit">Create comment</button>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>